body {
    background-color: #0e5c9c;
    margin: 15px;
}

/* nav - tabs */
#nav {
    margin: 10px;
    padding: 5px;
}

#additem {
    display: none;
}
/* fieldsets */
#divwrapper,
fieldset {
    background-color: aliceblue;
    max-width: 900px;
    min-height: 100px;
    border-radius: 10px;
    padding: 2%;
    margin: 0 auto 10px;
    border: 2px solid #0e5c9c;
    color: #0e5c9c;
    font-weight: bold;

}

#formwrapper {
    flex-direction: column;
}

/* item entry text */
body, p input, select, option {
    color: #0e5c9c;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


/* Add item button */
button, input[type="submit"] {
    color: #0e5c9c;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: aliceblue;
    border: 2px solid #0e5c9c;
    border-radius: 5px;
    padding: 10px 20px;
}
.flat-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
}
.flat-btn:active {
    color: aliceblue;
    background: #0e5c9c;
}
.flat-btn:disabled {
    color:gray;
    background:aliceblue;
    border-color: gray
}


/* --------------
ALL list items
----------------- */
ul {
    /* nav has own padding, want to remove it and the bullets */
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    /* hack for @media > 700px below */
    font-size: 0px;
}

li {
    /* want padding here */
    padding: 5px;
    /* size relative to font size set in body */
    font-size: 1.2rem;
    transition: background-color 0.5s;
}

li label {
    border: 2px solid #0e5c9c;
    padding: 5px;
    border-radius: 10px;
}
/* --------------
custom checkbox (art = container)
----------------- */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}

/* custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin: 4px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
